* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #F63232;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1 {
    color: white;
    border: 6px solid white;
    border-radius: 35px;
    padding: 6px 12px;
    display: inline-block;
}

header h1:hover {
    background-color: black;
}

.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
    width: 3000px;
}

.banner .welcome {
    background-color: #FEB614;
    color: white;
    position: absolute;
    left: 0;
    top: 45%;
    padding: 30px;
}

.banner h2 {
    font-size: 40px;
}

.banner h2 span {
    font-size: 1.4em;
}

nav {
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 100px;
    z-index: 1;
}

nav ul {
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
}

nav li {
    text-align: center;
    width: 25%;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    margin: 10px;
}

nav li a {
    border: 2px dotted brown;
    border-radius: 20px;
    text-decoration: none;
    color: #4B4B4B;
    padding: 10px;
}

nav li a:hover {
    background-color: bisque;
}

main {
    max-width: 100%;
    width: 3000px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

p::selection {
    background-color: lightgray;
    color: blue;
}

article h2 {
    color: #F63232;
    font-size: 48px;
}

article p {
    padding: 10px;
    line-height: 2em;
    color: #4B4B4B;
}

article p::first-line {
    font-size: larger;
    font-weight: 900;
}

div.logo {
    text-align: center;
    max-width: 100%;
}

.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 10px;
}

.images li {
    width: 40%;
    margin: 20px 5%;
    display: inline-block;
}

.images li img {
    max-width: 100%;
}

.images li img:hover {
    position: relative;
    bottom: 8px;
}

section.join {
    background-color: #F4F4F4;
    text-align: center;
    padding: 60px 30px;
    color: #4B4B4B;
}

section.join h2 {
    font-size: 36px;
}

form input {
    margin: 20px 0;
    text-align: center;
    padding: 10px 20px;
    font-size: 24px;
    border: 4px solid white;
    border-radius: 20px;
}

form input:focus {
    border: 4px dashed #4B4B4B;
}

form input:valid {
    border: 4px dashed green;
}

footer {
    background-color: #F63232;
    color: white;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .banner .welcome h2 {
        font-size: 60px;
    }

    nav li {
        font-size: 20px;
    }
}